html body #about-me
{    
    min-height: 100vh;
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    flex-direction: column;

}

html body #about-me #content-me
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    max-width: 60vw;
}

html body #about-me #content-me section{
    display: flex;
    align-items: center;
    margin: 16px 0;
    flex-direction: column;
    min-width: 350px;
}

.container-img{
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 180px;
}

html body #about-me #content-me section img{
    width: 180px;
    height: 180px;
}



html body #about-me #content-me h2
{
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
    
    color: #50514f;

    font-family: 'Roboto Mono', monospace;
}

html body #about-me #content-me h2 strong
{ 
    color: var(--titleColor);
    font-family: 'Roboto Mono', monospace;
}

html body #about-me #content-me h3
{ 
    color: #50514f;
    font-family: 'Roboto Mono', monospace;
    margin: 32px 8px;
    font-size: 1.2rem;
    text-align: center;
}

html body #about-me #content-me p
{
    font-size: 18px;
    text-align: center;
    color: 	#272d2d;

    font-weight: 500;
}

html body #about-me #content-me p strong
{
    font-weight: 600;
    color: var(--titleColor);
}

html body #about-me #content-me p a
{
    color: 	#272d2d;
    font-style: italic;
}

@media only screen and (min-width: 700px)
{
    html body #about-me #content-me div
    {
        max-width: 700px;
        flex-direction: row;
    }

    html body #about-me #content-me div h4
    {
        margin-left: 5px;
    }
}

@media only screen and (min-width: 900px)
{
    html body #about-me #content-me
    {
        max-width: 50vw;
    }
}