html body #contact
{    
    max-width: 100%;
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

html body #contact #contact-content
{    
    display: flex;
    flex-direction: column;
}

html body #contact #contact-content h2
{
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    
    color: #a846a0;

    font-family: 'Roboto Mono', monospace;
}

html body #contact #contact-content #contact-exs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html body #contact #contact-content #contact-exs p
{
    font-family: 16px;
    width: 60vw;
    font-weight: 500;

}

html body #contact #contact-content #contact-exs a
{
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    
    border-radius: 10px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 50px;

    color: #000;

    display: flex;
    align-items: center;
    text-decoration: none;
}

html body #contact #contact-content #contact-exs a img
{
    width: 40px;
    height: 40px;
}
