@keyframes title{
    0% {color:#fff; left:-200px; top:0px;}
    100%  {color: #50514f; left:0px;}
}

@keyframes subtitles{
    0% {color:#fff;}
    100%  {color: #50514f;}
}

html body #welcome-page
{
    max-width: 100%;
    margin-top: 5%;
    height: 100vh;

    scroll-behavior: smooth;

    display: flex;
    align-items: center;
    flex-direction: column;
}


html body #welcome-page .title 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 400px;
}

html body #welcome-page .title h1
{
    font-size: 40px;
    color: #50514f;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    animation-name: title;
    animation-duration: 2s;

    text-align: center;
}

html body #welcome-page .title h2
{
    font-size: 30px;
    font-weight: bold;
    color: #50514f;
    font-family: 'Roboto Mono', monospace;
    margin: 8%;
    text-align: center;

    animation-name: subtitles;
    animation-duration: 4s;
}
html body #welcome-page .title span
{
    font-size: 25px;
    font-weight: bold;
    color: #50514f;
    text-align: center;

    animation-name: subtitles;
    animation-duration: 4s;
}

html body #welcome-page .title h3
{
    font-size: 23px;
    font-weight: bold;
    color: #50514f;
    text-align: center;

    animation-name: subtitles;
    animation-duration: 5s;
}

html body #welcome-page .codeGirlImg img{
    width: 300px;
    height: 200px;
}

html body  #welcome-page .icons
{
    background-color:#DBA9D7;
    width: 220px;
    height: 40px;
    margin-top: 8%;
    border-radius: 10px;

    justify-content: space-between;
    display: flex;

}

html body #welcome-page .icons a #linkedin:hover,
#git:hover, 
#medium:hover
{
    background-color: aliceblue;
    padding: 0.4px;
}

html body #welcome-page .icons a span
{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: 200ms;
}

html body #welcome-page .icons a #linkedin
{
 
    background-image: url(/styles/images/linkedin_icon.svg);
    align-content: center;
}


html body #welcome-page .icons a #git
{

    background-image: url(/styles/images/github_icon.svg);
}

html body #welcome-page .icons a #medium
{

    background-image: url(/styles/images/medium_icon.svg);
}

@media only screen and (min-width: 1100px)
{
    html body #welcome-page .codeGirlImg{
        width: 1100px;
        transform: translateY(-40%);
    }

    html body #welcome-page .codeGirlImg img{
        width: 400px;
        height: 300px;
    }
    
    html body #welcome-page .title h1
    {
        font-size: 50px;
    }
 
    html body  #welcome-page .icons
    {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}

@media only screen and (min-width: 1600px)
{
    html body  #welcome-page .icons
    {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 240px;
        height: 50px;
        align-items: center;
    } 

    html body #welcome-page .codeGirlImg{
        width: 1500px;
        transform: translateY(-10%);
    }

    html body #welcome-page .codeGirlImg img{
        width: 500px;
        height: 400px;
        align-self: flex-start;
    }
}