@keyframes title{
    0% {color:#fff; left:-200px; top:0px;}
    100%  {color: var(--text); left:0px;}
}

@keyframes subtitles{
    0% {color:#fff;}
    100%  {color: var(--text);}
}

html body #welcome-page
{
    max-width: 100%;
    margin-top: 10%;
    height: 90vh;

    scroll-behavior: smooth;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

html body #welcome-page .title 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 400px;
}

html body #welcome-page .title h1
{
    font-size: 2.4rem;
    color: var(--text);
    font-family: 'Roboto Mono', monospace;
    position: relative;
    animation-name: title;
    animation-duration: 2s;
    text-align: center;
    margin-bottom: 16px;
}

html body #welcome-page .title span, p
{
    font-size: 25px;
    color: var(--text);
    text-align: center;
    display: block;

    animation-name: subtitles;
    animation-duration: 4s;
}

html body #welcome-page .title span{
    font-weight: bold;
}

html body #welcome-page .title a{
    background-color: var(--title);
    color: white;

    padding: 16px;
    width: 60%;
    border-radius: 8px;
    margin-top: 16px;

    font-weight: bold;
    text-decoration: none;
    text-align: center;

    opacity: 0.85;
    transition: 400ms;

    display: none;
}

html body #welcome-page .title a:hover{
    opacity: 1;
}

html body #welcome-page .code-girl{
    width: 360px;
    height: 300px;
}

html body  #welcome-page .icons
{
    background-color: var(--title);
    width: 220px;
    height: 40px;
    padding: 8px;
    border-radius: 16px;

    justify-content: space-between;
    display: flex;

    position: absolute;
    bottom: 8px;
    z-index: 999;
}

html body #welcome-page .icons a #linkedin:hover,
#git:hover, 
#medium:hover
{
    background-color: aliceblue;
    padding: 0.4px;
}

html body #welcome-page .icons a span
{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: 200ms;
}

html body #welcome-page .icons a #linkedin
{
 
    background-image: url(/styles/images/linkedin_icon.svg);
    align-content: center;
}


html body #welcome-page .icons a #git
{

    background-image: url(/styles/images/github_icon.svg);
}

html body #welcome-page .icons a #medium
{

    background-image: url(/styles/images/medium_icon.svg);
}

@media only screen and (min-width: 1000px)
{
    html body #welcome-page {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        justify-content: center;
    }

    html body #welcome-page .title 
    {
        width: 520px;
        min-height: 300px;
    }

    html body #welcome-page .title span, p
    {
        text-align: justify;
        width: 100%;
        font-size: 1.2rem;
    }
    
    html body #welcome-page .title h1 {
        font-size: 3rem;
        text-align: justify;
    }

    html body #welcome-page .code-girl {
        width: 380px;
        height: 300px;
    }
    
    html body  #welcome-page .icons
    {
        position: fixed;
        bottom: 16px;
        right: 16px;
    }

    html body #welcome-page .title a{
        display: block;
    }
}

@media only screen and (min-height: 1200px){
    html body #welcome-page .code-girl {
        width: 480px;
        height: 400px;
    }
    html body #welcome-page .title 
    {
        min-height: 400px;
    }
}

@media only screen and (min-width: 1400px)
{
    html body #welcome-page {
        align-items: flex-start;
    }

    html body #welcome-page .title 
    {
        width: 700px;
        min-height: 500px;
    }
    
    html body #welcome-page .title h1 {
        font-size: 3.5rem;
    }

    html body #welcome-page .code-girl {
        width: 580px;
        height: 500px;
    }
}